<div ng-repeat="n in presents">
	<div class="Front-content">
		<div class="Front-largeContent {{n.type}}">
			<div class="content note-content">{{n.content}}</div>
			<div class="content image-content" ng-click="imageShow(n.id)" style="background-image:url({{n.content}});"></div>
		</div>
		<div class="Front-footer">
			<div class="Front-map" id="Front-map{{n.id}}"></div>
			<div  ng-click="showMap(n.id)">
				<div class="left">
					<i class="icon-map-marker"></i>
					<span class="Front-city">{{n.city}}</span>
				</div>
				<div class="right">
					<span>{{ convertdate(n.date) }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="Front-imageContainer" ng-show="showImageFullScreen" style="background-image:url({{ urlImageFullScreen }});"></div>